.contact-banner{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(images/School7.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-banner h5{
    padding-top: 200px;
    font-size: 50px;
    color:rgb(25, 21, 116);
    font-weight: bolder;
}
/* .contact-banner h7{
    padding: 300px;
    font-size: 30px;
    color:rgb(24, 24, 31);
    font-weight: bold;
    text-align: center;
} */
.contact-middle{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(16, 14, 45);
    color: white;
    /* margin: 20px */
    padding: 40px;
}
.contact-middle h4{
    padding: 20px;
}
.contact-middle p{
    padding: 20px;
}
.prod-form{
    background:rgb(25, 21, 116);
    color:#fff;
    padding:150px 80px;
    margin: 5px;
}
.prod-form label{
    color:white;
    padding-bottom: 2px;
}

.contact-form{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-form img{
    padding: 20px;
    width: 60rem
}
.contact-form .btn{
    margin: 10px;
    background-color: white;
    color:(25, 21, 116)
}
.contact-form h1{
    font-weight: bolder;
    padding: 20px;
    color:rgb(25, 21, 116);
}
.contact-form h2{
    padding: 20px;
    color:rgb(110, 104, 214);
}
a{
    text-decoration: none;
    color:#fff;
}
.footerblock{
    min-height: 300px;
    background:rgb(16, 14, 45);
    margin-top: 20px
}
.footerlogo,.footerconttext, .footerdata, .quicklink, .links li{
    text-align: start;
}
.footercont{
    color:white;
}
.footerconttext p, .footerdata p, .quicklink p, .links li a{
color:#fff;
text-transform: uppercase;
}
.links{
    padding-left:0;
}
.links li{
    list-style: none;
}
.footer-row{
    padding:60px 0;
}
.footercont, .footerdata, .lastcol{
    padding:20px 5px;
}
.footerlogo, .quicklink{
    margin-bottom:15px;
}

@media(max-width:991px){
    .footerlogo, .footerconttext, .footerdata, .quicklink, .links li{
        text-align: center;
    }
}